.container {
  padding-top: 50px;
  max-width: 500px;
}

 #db_select, #show_selection {
  display: none;
}

p {
    margin-left: 30px;
    font-family: Arial, sans-serrif;
}
.container_modify {
    margin: 0 auto;
    width: 800px;
    /*height: 400px;*/
    padding: 10px;
    position: relative;
}
.container_modify .json {
    margin: 0 auto;
    float: left;
    width: 400px;
    /*height: 390px;*/
}
.container_modify .modify {
    
    margin: 0 auto;
    float: right;
    width: 300px;
    display: none;
    /*height: 390px;*/
}
.container_modify .form-control {
  vertical-align: middle;
}

.container_modify .btm {

  position: absolute;
  bottom: 0;
}

/*#modify {
	display: none;
  visibility: hidden;
}*/