<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CHURN UI</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
  </head>
  
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  <style>
  body {
    background-color: blue;
    }
  h1 {
    color : red;
    }
  </style>
  <body>
    <div align="center">
      <img src="{{ url_for('static', filename='cisco.jpg') }}" alt="Banner Image"/>
    </div>
    <div class="container">
      <h1 align="center">Churn Interns Dashboard</h1><br>

      <div id="lab_selection">
        <form action="/" method="POST">
          {{ form.hidden_tag() }}
          {{ form.lab(id="lab_select", class="form-control") }}
          <br>
          {{ form.db(id="db_select", class="form-control") }}
          <br><br>
          <button type="button" class="btn btn-primary" id="submit-btn">Submit</button>
          <button type="button" class="btn btn-success" id="refresh-btn">Refresh</button>
        </form>
      </div>

      

      <div id="show_selection">
        <h2 align="center">Your Churn Selection</h2>
        <table class="table">
          <thead>
            <tr>
              <!--<th>Lab ID</th>-->
              <th>Lab</th>
              <!--<th>DB ID</th>-->
              <th>Profile</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!--<td><span id="chosen_lab_id"></span></td>-->
              <td><span id="chosen_lab"></td>
              <!--<td><span id="chosen_db_id"></span></td>-->
              <td><span id="chosen_db"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--<div id="show_json">
        <pre id="chosen_json" class="prettyprint"></pre>
        <br><br>
        <button type="button" class="btn btn-danger" id="run-btn">Run CHURN</button>
      </div>-->

      
    

    </div>
    <div id="show_json">
        <div id="main" class="container_modify">
          <div class="json" id="left"><pre class="box"></pre></div>
          <div class="modify" id="mdfy">
            <label for="override">Override:</label>
            <textarea class="form-control" rows="5" id="override">{



}</textarea>
            <a href="https://wiki.cisco.com/display/SPVSSPE/CHURN+Simulation+Tool#CHURNSimulationTool-CREATE_HOT_BOOKINGS_SCHEDULE" target="_blank">JSON Properties Description</a><br>
            <label>Max Threads:&nbsp;&nbsp;</label><input id="m_t" type="number" value="64" min="64" max="256" step="10"><br>
            <label><input type="checkbox" name="spark" value="0">&nbsp;&nbsp;Post Results To Spark</label><br>
            <label><input type="checkbox" name="cache" value="0">&nbsp;&nbsp;caching</label><br>
            <label><input type="checkbox" name ="simulate" value="0">&nbsp;&nbsp;simulate</label><br>
            <label>log-level:</label><br>
            <label><input type="radio" name="logradio" value="NOTSET" checked="checked">&nbsp;&nbsp;<font color="grey">NOTSET</font></label><br>
            <label><input type="radio" name="logradio" value="DEBUG">&nbsp;&nbsp;<font color="green">DEBUG</font></label><br>
            <label><input type="radio" name="logradio" value="INFO">&nbsp;&nbsp;<font color="blue">INFO</font></label><br>
            <label><input type="radio" name="logradio" value="WARNING">&nbsp;&nbsp;<font color="orange">WARNING</font></label><br>
            <label><input type="radio" name="logradio" value="ERROR">&nbsp;&nbsp;<font color="brown">ERROR</font></label><br>
            <label><input type="radio" name="logradio" value="CRITICAL">&nbsp;&nbsp;<font color="red">CRITICAL</font></label><br>
          </div>
            
          <div class="btm" align="center">
            <button type="button" class="btn btn-danger" id="run-btn">Run CHURN</button>
            <button type="button" class="btn btn-info" id="mdfy-btn">Modify Run</button>
            <br><br>
          </div> 
        </div>
    </div>
  </body>
</html>
