<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CHURN UI</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='run.css') }}" rel="stylesheet">
    <!--<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">-->
  </head>
  
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
  <!--<script src="{{ url_for('static', filename='main.js') }}"></script>-->
  <!--<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>-->
  <script src="{{ url_for('static', filename='run.js') }}"></script>
  <body>
    <div align="center">
    <img src="{{ url_for('static', filename='cisco.jpg') }}" alt="Banner Image"/>
    </div>
    <br><br>
    <div align="center" class="container_run">
      <h2><span id="db_name"></span><span> run initiated on </span><span id="lab_name"></span>and results posted in spark channel</h2>
      <h4><span>Command: </span></h4><h6><span id="cmd"></span></h6>
      <h2 align="center">Run Details</h2>
        <table class="table" width="900">
          <thead>
            <tr>
              <th>Lab</th>
              <th>Profile</th>
              <th>Override</th>
              <th>Caching</th>
              <th>Threads</th>
              <th>Log-Level</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="lab"></td>
              <td id="db"></td>
              <td><pre id="ovr"></pre></td>
              <td id="cache"></td>
              <td id="m_t"></td>
              <td id="log_lvl"></td>
            </tr>
          </tbody>
        </table><br>
      </div>
      <div id="main" class="container_modify">  
        <div class="left"><pre id="db_data"></pre></div>
        <div class="right"><pre style= "height: 500px;" id="report"></pre></div>
        <div align="center" class="btm">
          <button type="button" class="btn btn-primary" id="return-btn">Return</button><br><br>
        </div>
      </div>
  </body>
</html>
